{% extends 'layout/fluid.html.twig' %}
{# TITULO#}
{% block titulo 'Listar Empresa de Transporte' %}

{# JAVASCRIPT #}
{% block include%}
<script type="text/javascript" src="{{constant('ROOT')}}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}/js/listado.js"></script>
{% endblock %}

{# CONTENIDO#}
{% block contenido %}
<div class="page-header">
    <h1>{{ accion|title }} Despacho</h1>
</div>
<ul class="breadcrumb">
    <li><a href="{{constant('URL_SISTEMA')}}/usuario">Sistema</a><span class="divider">&raquo;</span></li>
    <li><a href="{{constant('URL_SISTEMA')}}/despacho/listar">Despacho</a><span class="divider">&raquo;</span></li>
    <li>{{ accion|title }}</li>
</ul>
{%if mensaje is defined%}
<div class="alert alert-{{tipoMensaje}}">
    <a data-dismiss="alert" class="close" data-dismiss="alert">×</a>
    <p>{{ mensaje }}</p>
</div>
{% endif %}

<div>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nº Factura</th>
                <th>Empresa Transporte</th>
                <th>Fecha Despacho</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for despacho in registros %}
                <tr>
                    <td>{{ despacho.id }}</td>
                    <td>{{ despacho.numero }}
                    <td>{{ despacho.nombre }}</td>
                    <td>{{ despacho.fecha | date("d/m/Y h:m:s a") }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{constant('URL_SISTEMA')}}/despacho/{{ accion == 'Listar' ? 'consultar':'seguimientodetalle' }}/{{ despacho.id }}" class="btn">Consultar</a>
                            <a href="{{constant('URL_SISTEMA')}}/despacho/editar/{{ despacho.id }}" class="btn btn-info">Editar</a>
                            {% if accion=='Listar' %}
                            <a href="{{constant('URL_SISTEMA')}}/despacho/borrar/{{ despacho.id }}" class="btn btn-danger">Borrar</a>
                            {% endif %}
                        </div> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No se encontraron registros.</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
        <div>
        {{ paginacion|raw }}
            </div>
        {% if accion == 'Listar'%}
            <div>
                <a href="{{constant('URL_SISTEMA')}}/despacho/crear" class="btn btn-primary">Crear Despacho</a>
            </div>
        {% endif %}
        </div>
{% endblock %}