{# indice #}
{% extends 'layout/fluid.html.twig'%}
{% block titulo 'Inicio'%}
{% block contenido %}
<div class="row-fluid">
    <div class="hero-unit">
        <h1>Bienvenido a LiderPlus</h1>
        {%if session.usuario.login is defined %}
            <p class="hide">Ultimo acceso el d&iacute;a 07/04/2012.</p>
            <p><a href="modificar" class="btn btn-primary btn-large"><i class="icon-white icon-user"></i> Modificar Perfil</a></p>
        {% endif %}
    </div>
    <div class="well-small">
        <h1>Modulos Disponibles</h1>
{%if session.usuario.login is not defined %}
<div class="row">
    <div class="span10">
        <p>Por favor inicie sesi&oacute;n para ingresar al sistema.</p>
    </div>
</div>
{% else %}
<br/>
<div class="row">
    <a href="{{constant('URL_SISTEMA')}}/cliente">    
        <div class="span2 menu-cliente">    
            <h2> Cliente</h2>
            <p>Administrar clientes</p>
        </div>
    </a>
    <a href="{{constant('URL_SISTEMA')}}/producto" >
        <div class="span2 menu-producto">
            <h2>Producto</h2>
            <p>Administrar Productos</p>
        </div>
    </a>
    <a href="{{constant('URL_SISTEMA')}}/pedido" >
        <div class="span2 menu-pedido">
            <h2>Pedido</h2>
            <p>Administrar Pedidos</p>
        </div>
    </a>
    <a href="{{constant('URL_SISTEMA')}}/usuario/listar" >
        <div class="span2 menu-usuario">
            <h2>Usuarios</h2>
            <p>Administrar Usuarios</p>
        </div>
    </a>
</div>
<br/>
<div class="row">
    <a href="{{constant('URL_SISTEMA')}}/factura/listar" >
        <div class="span2 menu-factura">
            <h2>Factura</h2>
            <p>Administrar Facturas</p>
        </div>
    </a>
    <a href="{{constant('URL_SISTEMA')}}/transporte/listar" >
        <div class="span2 menu-transporte">
            <h2>Transporte</h2>
            <p>Administrar Empresas de Transporte</p>
        </div>
        </a>
        <a href="{{constant('URL_SISTEMA')}}/despacho/listar" >
        <div class="span2 menu-despacho"><h2>Despacho</h2><p>Administrar Despachos</p></div>
        </a>
</div>
{% endif %}
    </div>
</div>
{% endblock %}
