{# Barra lateral #}
{% if session is not defined%}
<form class="well" method="post" action="{{ constant('ROOT')}}login.php">
    <label for="login">Login</label>
    <input name="login" id="login" type="text" class="input-medium"/>
    <label for="password">Password</label>
    <input name="password" type="password" class="input-medium"/>
    <input type="submit" class="btn" value="Entrar"/>
</form>
{%else %}
<div class="well">
    <h3>Hola, {{ session.usuario.login }}</h3>
    <a href="{{ constant("URL_SISTEMA") }}/usuario?logout=true">Cerrar sesion</a>
</div>
{% endif %}

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Producto</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/producto/listar">Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/producto/crear">Crear</a></li>
        <li class="nav-header">Factura</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/factura/listar">Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/factura/crear">Emitir</a></li>
        <li class="nav-header">Cliente</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/cliente/listar">Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/cliente/crear">Crear</a></li>
        <li class="nav-header">Usuario</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/usuario/listar">Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/usuario/crear">Crear</a></li>
        <li class="nav-header">Pedido</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/pedido/listar">Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/pedido/crear">Crear</a></li>
    </ul>
</div><!--/.well -->