{% extends 'layout/fluid.html.twig'%}
{# TITULO#}
{% block titulo 'Listar Pedidos' %}

{# JAVASCRIPT #}
{% block include%}
{{ parent() }}
<script type="text/javascript" src="{{constant('ROOT')}}js/listado.js"></script>
{% endblock %}

{# CONTENIDO#}
{% block contenido%}
<div class="page-header">
    <h1>{{ accion|title }} Pedido</h1>
</div>
<ul class="breadcrumb">
    <li><a href="{{constant('URL_SISTEMA')}}/usuario">Sistema</a><span class="divider">&raquo;</span></li>
    <li><a href="{{constant('URL_SISTEMA')}}/pedido/listar">Pedido</a><span class="divider">&raquo;</span></li>
    <li>{{ accion|title }}</li>
</ul>
{%if mensaje is defined%}
<div class="alert alert-{{tipoMensaje}}">
    <a data-dismiss="alert" class="close" data-dismiss="alert">×</a>
    <p>{{ mensaje }}</p>
    {% if constant('DEBUG') %}
        {{ dump(exito) }}
    {% endif %}
</div>
{% endif %}

<div>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>numero</th>
                <th>fecha</th>
                <th>cliente</th>
                <th>Productos</th>
                <th>Status</th>
                <th>Fase</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in registros %}
                <tr>
                    <td>{{ pedido.id}}</td>
                    <td>{{ pedido.numero }}</td>
                    <td><span class="pull-right"> {{ format_date(pedido.fecha) }}</span></td>
                    <td>{{ pedido.cliente }} </td>
                    <td><span class="pull-right"> {{ pedido.productos }} </span></td>
                    <td>{{ pedido.estatus_pedido }} </td>
                    <td>{{ pedido.fase }} </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{constant('URL_SISTEMA')}}/pedido/consultar/{{ pedido.id }}" class="btn">Consultar</a>
                            {%if pedido.fase == "Pedido" and pedido.estatus_pedido == "PENDIENTE" %}
                                <a href="{{constant('URL_SISTEMA')}}/pedido/procesar/{{ pedido.id }}" class="btn btn-warning">Procesar</a>
                            {% endif %}
                            <a href="{{constant('URL_SISTEMA')}}/pedido/editar/{{ pedido.id }}" class="btn btn-info">Editar</a>
                            <a href="{{constant('URL_SISTEMA')}}/pedido/borrar/{{ pedido.id }}" class="btn btn-danger">Borrar</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No se encontraron registros.</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
        <div>
        {{ paginacion|raw }}
            </div>
        <div>
            <a href="{{constant('URL_SISTEMA')}}/pedido/crear" class="btn btn-primary">Crear Pedido</a>
        </div>
    </div>
{% endblock %}