{# empty Twig template #}
{% extends 'layout/fluid.html.twig'%}
{%block titulo 'Registrar Pedido' %}
{% block include%}
{{ parent() }}
<script src="{{ constant('ROOT') }}js/formularios.js"></script>
<script src="{{ constant('ROOT') }}js/jquery-validate/jquery.validate.js"></script>
<script src="{{ constant('ROOT') }}js/jquery-validate/localization/messages_es.js"></script>
<script src="{{ constant('ROOT') }}js/registrar-pedido.js"></script>
<script type="text/javascript">
    var accion = "{{accion}}";
</script>
{% endblock %}
{% block contenido %}
    <div class="page-header">
        <h1>{{ accion|title }} Pedido</h1>
    </div>
    <ul class="breadcrumb">
        <li><a href="{{constant('URL_SISTEMA')}}/usuario">Sistema</a><span class="divider">&raquo;</span></li>
        <li><a href="{{constant('URL_SISTEMA')}}/pedido/listar">Pedido</a><span class="divider">&raquo;</span></li>
        <li>{{ accion|title }}</li>
    </ul>
    <div class="modal" id="agregarProductoModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Agregar Producto</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal well-small" id="buscarProducto" name="buscarProducto">
                <fieldset>
                    <legend>Seleccione el producto</legend>
                    <div class="control-group">
                        <label class="control-label">Producto</label>
                        <div class="controls">
                            <select name="producto_id" id="producto_id" class="required">
                                {% for producto in productos.data %}
                                    <option value="{{ producto.id}}">{{ producto.descripcion }} - {{format_number(producto.precio)}} Bsf.</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">cantidad</label>
                        <div class="controls">
                            <input type="text" name="cantidad" class="input-mini required number" id="cantidad"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger">Cerrar</a>
            <a id="agregar" href="#" class="btn btn-primary">Agregar</a>
        </div>
    </div>
    <div class="well-small">
        <form name="productos_form" id="productos_form" method="post" action="{{ constant('URL_SISTEMA')}}/pedido/guardar">
            <input type="hidden" name="id" value="{{pedido.id}}"/>
            <fieldset>
                <legend>Datos del pedido</legend>
                <table>
                    <tr>
                        <td>
                            <div class="control-group">
                                <label for="cliente" class="control-label">Cliente</label>
                                <div class="controls">
                                    <select id="cliente_id" name="cliente_id" class="required"{{ modoLectura?" disabled='true' ":"" }}>
                                        <option value="">Seleccione</option>
                                            {% for cliente in clientes.data%}
                                                <option value="{{ cliente.id }}" {{ cliente.id == pedido.cliente_id ? " selected='selected '" : "" }}>{{ cliente.nombres ~' '~ cliente.apellidos }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td>    
                            <div class="control-group">
                                <label class="control-label">Numero</label>
                                <div class="controls">
                                    {{ form.input("text", "", "numero", "numero", pedido.numero, modoLectura) }}
                                </div>
                            </div>
                        </td>
                        {% if accion == "ver" %}
                        <td>prueba
                            <div class="control-group">
                                <label class="control-label">Estatus</label>
                                    <div class="controls">
                                        {{ form.input("text", "", "status", "status", pedido.estatus_pedido, modoLectura) }}
                                    </div>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                </table>
                
            </fieldset>
            <fieldset>
                <legend>Productos</legend>
                <div class="well-large">
                    <table class="table table-bordered table-striped" id="productos">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            {%if accion == "procesar" %}
                            <th>procesar</th>
                            {% endif%}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set cantidad = 0%}
                        {% set subtotal = 0 %}
                        {% for producto in productosPedido %}
                            {% set cantidad = cantidad + producto.cantidad_pedido %}
                            {% set subtotal = subtotal + (producto.precio * producto.cantidad_pedido) %}
                            <tr>
                                <td>
                                    {{ modoLectura == false ? "<span><i class='icon-remove'></i>" : "" }}{{ producto.descripcion }}
                                    {{ form.input("hidden", "", "", "pedido_detalle_id", producto.pedido_detalle_id, false) }}
                                    {{ form.input("hidden", "", "", "producto_id[]", producto.id, false) }}
                                </td>
                                <td>
                                    <span class="pull-right">{{ producto.cantidad_pedido }}</span>
                                    {{ form.input("hidden", "", "", "cantidad_pedido[]", producto.cantidad_pedido, false) }}
                                </td>
                                <td>
                                    <span class="pull-right">{{ format_number(producto.precio) }} Bsf.</span>
                                    {{ form.input("hidden", "", "", "precio[]", producto.precio, false) }}
                                </td>
                                {% if accion == "procesar"%}
                                <td class="form-inline">
                                    <select id="status_pedido_detalle_{{loop.index}}" name="status_pedido_detalle[]" class="required input-medium">
                                        {% for status_pedido_detalle in status_pedido_detalles.data %}
                                            <option value="{{status_pedido_detalle.id }}">{{status_pedido_detalle.descripcion|title }}</option>
                                        {% endfor %}
                                    </select>
                                        <label>Cantidad Despacho</label>
                                        <input id="cantidad_despacho_{{ loop.index }}" type="text" name="cantidad_despacho[]" value="{{producto.cantidad_despacho}}" class="required input-mini"/>
                                </td>
                                {% endif %}
                                <td>
                                    <span class="pull-right">{{ format_number(producto.precio * producto.cantidad_pedido) }} Bsf.</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <b>Total productos</b>
                                <input id="valor" type="hidden" name="valor" value=""/>
                            </td>
                            <td><span class="pull-right" id="total_productos">{{ cantidad }}</span></td>
                            <td><span class="pull-right"><b>Subtotal</b></span></td>
                            {% if accion == "procesar"%}
                                <td>&nbsp;</td>
                                {% endif %}
                            <td><span class="pull-right" id="subtototal">{{ format_number(subtotal) }} Bsf.</span></td>
                        </tr>
                        <tr>
                            <td colspan="{{accion=="procesar"?4:3}}"><span class="pull-right"><b>IVA</b></span></td>
                            <td><span class="pull-right" id="iva">{{ format_number(subtotal * 0.1) }} Bsf.</span></td>
                        </tr>
                        <tr>
                            <td colspan="{{accion=="procesar"?4:3}}"><span class="pull-right"><b>Total</b></span></td>
                            <td><span class="pull-right" id="total">{{ format_number(subtotal * 1.1) }} Bsf.</span></td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </fieldset>
            <div class="form-actions">
                {% if agregarProducto %}
                    <a id="agregarProductoBtn" href="#" class="btn btn-info">Agregar Producto</a>
                {% endif %}
                <input type="submit" class="btn btn-primary" name="crear" value="{{ accion|title }} Pedido"/>
            </div>
        </form>
    </div>
{% endblock%}