{# Barra lateral #}
{% if session.usuario.login is not defined%}
<form class="well" method="post" action="{{ constant('ROOT')}}login.php">
    <label for="login">Login</label>
    <input name="login" id="login" type="text" class="input-medium"/>
    <label for="password">Password</label>
    <input name="password" type="password" class="input-medium"/>
    <input name="submit" type="submit" class="btn" value="Entrar"/>
</form>
{% else %}
<div class="well">
    <p><i class="icon-user"></i> Hola, {{ session.usuario.login|capitalize }}</p>
    <a href="{{ constant("URL_SISTEMA") }}/usuario?logout=true"><i class="icon-off"></i> Cerrar sesion</a>
</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        {% for func in menu %}
            {%if func.nombre == "producto"%}
        <li class="nav-header">Producto</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/producto/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/producto/crear"><i class=" icon-edit"></i> Crear</a></li>
            {% endif %}
            {%if func.nombre == "factura"%}
        <li class="nav-header">Factura</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/factura/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/factura/crear"><i class=" icon-edit"></i> Emitir</a></li>
            {% endif %}
            {%if func.nombre == "cliente"%}
        <li class="nav-header">Cliente</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/cliente/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/cliente/crear"><i class=" icon-edit"></i> Crear</a></li>
            {% endif %}
            {%if func.nombre == "usuarios" %}
        <li class="nav-header">Usuario</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/usuario/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/usuario/crear"><i class=" icon-edit"></i> Crear</a></li>
            {% endif %}
            {%if func.nombre == "pedido" %}
        <li class="nav-header">Pedido</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/pedido/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/pedido/crear"><i class=" icon-edit"></i> Crear</a></li>
            {% endif %}
            {%if func.nombre == "transporte" %}
        <li class="nav-header">Transporte</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/transporte/listar"><i class="icon-list-alt"></i> Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/transporte/crear"><i class=" icon-edit"></i> Crear</a></li>
            {% endif %}
            {%if func.nombre == "despacho" %}
        <li class="nav-header">Despacho</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/despacho/listar"><i class="icon-list-alt"></i>Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/despacho/crear"><i class="icon-edit"></i>Crear</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/despacho/seguimiento"><i class="icon-map-marker"></i>Seguimiento</a></li>
            {% endif %}
            {%if func.nombre == "configuración" %}
        <li class="nav-header">Configuracion</li>
        <li><a href="{{ constant("URL_SISTEMA")}}/configuracion/listar"><i class="icon-list-alt"></i>Listar</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/configuracion/fase"><i class="icon-edit"></i>fases</a></li>
        <li><a href="{{ constant("URL_SISTEMA")}}/configuracion/funcionalidad"><i class="icon-tasks"></i>funcionalidades</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div><!--/.well -->
{% endif %}
