{% extends 'layout/fluid.html.twig'%}
{# TITULO#}
{% block titulo 'Listar Productos' %}

{# JAVASCRIPT #}
{% block include%}
<script type="text/javascript" src="{{constant('ROOT')}}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}/js/listado.js"></script>
{% endblock %}

{# CONTENIDO#}
{% block contenido%}
<div class="page-header">
    <h1>{{ accion|title }} Producto</h1>
</div>
<ul class="breadcrumb">
    <li><a href="{{constant('URL_SISTEMA')}}/usuario">Sistema</a><span class="divider">&raquo;</span></li>
    <li><a href="{{constant('URL_SISTEMA')}}/producto/listar">Producto</a><span class="divider">&raquo;</span></li>
    <li>{{ accion|title }}</li>
</ul>
{%if mensaje is defined%}
<div class="alert alert-{{tipoMensaje}}">
    <a data-dismiss="alert" class="close" data-dismiss="alert">×</a>
    <p>{{ mensaje }}</p>
</div>
{% endif %}

<div>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>codigo</th>
                <th>descripcion</th>
                <th>precio</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in registros %}
                <tr>
                    <td>{{ producto.id}}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ format_number(producto.precio) }} Bsf. </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{constant('URL_SISTEMA')}}/producto/consultar/{{ producto.id }}" class="btn">Consultar</a>
                            <a href="{{constant('URL_SISTEMA')}}/producto/editar/{{ producto.id }}" class="btn btn-info">Editar</a>
                            <a href="{{constant('URL_SISTEMA')}}/producto/borrar/{{ producto.id }}" class="btn btn-danger">Borrar</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No se encontraron registros.</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
        <div>
        {{ paginacion|raw }}
            </div>
        <div>
            <a href="{{constant('URL_SISTEMA')}}/producto/crear" class="btn btn-primary">Crear Producto</a>
        </div>
    </div>
{% endblock %}