{# indice #}
{% extends 'layout/fluid.html.twig'%}
{% block titulo 'Inicio'%}
{% block contenido %}
<div class="row-fluid">
    <div class="hero-unit">
        <h1>Bienvenido a LiderPlus</h1>
        <p class="hide">Ultimo acceso el d&iacute;a 07/04/2012.</p>
        <p><a href="modificar" class="btn btn-primary btn-large">Modificar Perfil</a></p>
    </div>
    <div class="well-small">
        <h1>Modulos Disponibles</h1>
{%if session is not defined %}
<div class="row">
    <p>Por favor inicie sesi&oacute;n para ingresar al sistema.</p>
</div>
{% else %}
<div class="row">
        <div class="span2">
            <h2> Cliente</h2>
            <p>Administrar clientes</p>
            <a href="{{constant('URL_SISTEMA')}}/cliente" class="btn btn-info">Entrar</a>
        </div>
        <div class="span2">
            <h2>Producto</h2>
            <p>Administrar Productos</p>
            <a href="{{constant('URL_SISTEMA')}}/producto" class="btn btn-info">Entrar</a>
        </div>
        <div class="span2">
            <h2>Pedidos</h2>
            <p>Administrar Pedidos</p>
            <a href="{{constant('URL_SISTEMA')}}/pedido" class="btn btn-info">Entrar</a>
        </div>
        <div class="span2">
            <h2>Usuarios</h2>
            <p>Administrar Usuarios</p>
            <a href="{{constant('URL_SISTEMA')}}/usuario/listar" class="btn btn-info">Entrar</a>
        </div>
</div>
<div class="row">
        <div class="span2">
            <h2>Factura</h2>
            <p>Administrar Facturas</p>
            <a href="{{constant('URL_SISTEMA')}}/factura/listar" class="btn btn-info">Entrar</a>
        </div>
        <div class="span2">
            <h2>Transporte</h2>
            <a href="{{constant('URL_SISTEMA')}}/transporte/listar" class="btn btn-info">Entrar</a>
        </div>
</div>
{% endif %}
    </div>
</div>
{% endblock %}