{# indice #}
{% extends 'layout/fluid.html.twig'%}
{% block titulo 'Inicio'%}
{% block contenido %}
<div class="row-fluid">
    <div class="hero-unit">
        <img class="pull-left" src="{{constant('ROOT')}}/img/logo.png" width="64"/>
        <h1>Bienvenido a LiderPlus</h1>
        {%if session.usuario.login is defined %}
            <p class="hide">Ultimo acceso el d&iacute;a 07/04/2012.</p>
            <p><a href="modificar" class="btn btn-primary btn-large"><i class="icon-white icon-user"></i> Modificar Perfil</a></p>
        {% endif %}
    </div>
    <div class="well-small">
        <h1>Modulos Disponibles</h1>
{%if session.usuario.login is not defined %}
<div class="row">
    <div class="span10">
        <p>Por favor inicie sesi&oacute;n para ingresar al sistema.</p>
    </div>
</div>
{% else %}
<div class="row">
    {% if menu is defined and menu|length >0%}
    {% for menu in menu %}
        <a href="{{ constant('URL_SISTEMA') }}/{{ menu.nombre }}/listar" >
        <div class="span2 menu {{ menu.prefijo }}">
            <h2>{{ menu.nombre|title }}</h2>
            <p>{{ menu.descripcion|capitalize }}</p>
        </div>
        </a>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
    </div>
</div>
{% endblock %}
