{% extends 'layout/fluid.html.twig' %}
{# TITULO #}
{% block titulo accion|title ~ ' Factura' %}

{# JAVASCRIPT #}
{% block include %}
{{ parent() }}
<script type="text/javascript" src="{{constant('ROOT')}}/js/jquery-validate/jquery.validate.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}/js/jquery-validate/localization/messages_es.js"></script>
<script type="text/javascript" src="{{constant('ROOT')}}/js/formularios.js"></script>
{% endblock %}

{# CONTENIDO #}
{% block contenido %}
<div class="page-header">
    <h1>{{ accion|title }} Factura</h1>
</div>
<ul class="breadcrumb">
    <li><a href="{{constant('URL_SISTEMA')}}/usuario">Sistema</a><span class="divider">&raquo;</span></li>
    <li><a href="{{constant('URL_SISTEMA')}}/factura/listar">Factura</a><span class="divider">&raquo;</span></li>
    <li>{{ accion|title }}</li>
</ul>
{% if resultado is defined %}
    {% include 'misc/resultado.html.twig' %}
<div>
    <a class="btn" href="{{ constant("URL_SISTEMA")}}/Pedido">Volver al listado</a>
</div>
{% else %}
    <form id="formulario" method="post" action="{{ constant('URL_SISTEMA')}}/factura/guardar" class="well-small form-horizontal">
    <input type="hidden" name="id" value="{{ factura.id }}"/>
    <fieldset>
        <legend>Detalle de la Factura</legend>
        <div class="control-group">
            <label for="numero" class="control-label">n&uacute;mero</label>
            <div class="controls">
                {{ form.input('text','required','numero','numero', factura.numero, modoLectura) }}
            </div>
        </div>
        <div class="control-group">
            <label for="cliente" class="control-label">cliente</label>
            <div class="controls">
                {{ form.input('text','required','cliente','cliente', factura.cliente, modoLectura) }}
            </div>
        </div>
        <div class="control-group">
            <label for="fecha" class="control-label">fecha</label>
            <div class="controls">
                {{ form.input('text','required','fecha','fecha', format_date(factura.fecha), modoLectura)}}
            </div>
        </div>
        <div class="control-group">
            <label for="status_pedido" class="control-label">Status</label>
            <div class="controls">
                {{ form.input('text','required','status','status', factura.estatus, modoLectura)}}
            </div>
        </div>
    </fieldset>
        <h3>Productos</h3>
        <div class="well-small">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set cantidad = 0%}
                    {% for producto in productos %}
                    {% set cantidad = cantidad + 1 %}
                    <tr>
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td><span class="pull-right">{{ producto.cantidad }}</span></td>
                        <td><span class="pull-right">{{ format_number(producto.precio) }} </span></td>
                        <td><span class="pull-right">{{ format_number(producto.total) }}</span></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6">no hay productos registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>Total productos</b></td>
                            <td><span class="pull-right" id="total_productos">{{ cantidad }}</span></td>
                            <td><span class="pull-right"><b>Subtotal</b></span></td>
                            <td><span class="pull-right" id="subtototal">{{ format_number(factura.subtotal) }}</span>
                                <input type="hidden" name="subtotal" id="subtotal" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="3"><span class="pull-right"><b id="label_iva">IVA({{ format_number(factura.porcentaje_iva) }})</b></span>
                            <td><span class="pull-right" id="iva">{{ format_number(factura.subtotal * factura.porcentaje_iva / 100 ) }}</span></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="3"><span class="pull-right"><b>Total</b></span></td>
                            <td><span class="pull-right" id="total">{{ format_number(factura.monto_total) }}</span></td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    {% if accion is defined %}
    <div class="form-actions">
        <input type="submit" name="{{ accion }}" value="{{ accion|title }}" class="btn btn-primary"/>
        <input type="button" name="atras" class="btn btn-danger" value="Atras"/>
    </div>
    {% endif %}
</form>
{% endif %}
{% endblock %}